---
layout: blog
---

<section class="mt-15">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <div>            
                <p class="text-base leading-6 text-gray-500 mb-3">
                    <time>
                        {{ post.date | readableDate }}
                        by
                        <a>{{ post.data.author }}</a>

                    </time>
                </p>
            </div>
            <div class="pb-4">
                {% for tag in post.data.tags | filterTagList %}
                    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                        <a class="px-2 py-1 bg-persian-green text-white font-bold rounded hover:bg-burnt-sienna" href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
                {% endfor %}
            </div>
            <div>
                {% if post.data.description %}
                    <p class="text-lg text-charcoal-500 mb-3">
                        {{ post.data.description }}
                    </p>
                {% endif %}
            </div>
            <div>
                <p>
                    <a href="{{ post.url | url }}" class="text-charcoal-500 font-bold text-lg transition duration-150 border-b-4 border-transparent hover:border-burnt-sienna">
                        Read more →
                    </a>
                </p>
            </div>

        </article>
    {% endfor %}
</section>